<div class="container" style="margin-top:60px;">
    <h2>Add a category!</h2>
    <form method="post" action="/home/addcategory"> 
    <input type="text" class="form-control" placeholder="Category name" name="name"/>
    <button class="btn btn-dark">Submit</button></form>
</div>
